.navbar-brand {
	padding: 0 10%;
}
.navbar-brand>img {
	height: 50px;
	margin-top: 10px
}
body {
	background-image: url(./nl_images/off-white_background.png);
	font-family: 'PT Sans Narrow', sans-serif;
}
.nav>li {
	padding: 10px 0;
}
.nl_backgroundimage {
	width: 100%;
	margin-top: 300px;
}
.nl_contact {
	font-weight: 400;
	font-size: 18px;
	margin-left: 2%
}
@media only screen and (max-width: 1200px) {
	.nl_backgroundimage {
		margin-top: 250px;
	}
}
@media only screen and (max-width: 992px) {
	.nl_backgroundimage {
		margin-top: 200px;
	}
}
@media only screen and (max-width: 768px) {
	.nl_backgroundimage {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.nl_contact {
	text-align: center;
	padding-top: 10%
	}
	.navbar-brand>img{
		height: 40px;
		margin-top: 4px;
		margin-left: 15px
	}
}
@media only screen and (max-width: 380px) {
	.nl_contact {
	font-size: 12px;
	padding-top: 0%;
	}
}
li > a {
	font-size: 18px;
}

/****How to Create Modal Images by W3 Schools****/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}